---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Agenda" id="agenda">
  <Fragment slot="lead">
    <span class="text-lg">
      <span class="text-offset">08:30</span>&nbsp;&nbsp;&nbsp;Registrasi &
      santai-santai<br />
      <span class="text-offset">09:00</span>&nbsp;&nbsp;&nbsp;Pembukaan & pesan
      sponsor<br />
      <span class="text-offset">09:30</span>&nbsp;&nbsp;&nbsp;Mulai hacking!<br
      />
      <span class="text-offset">12:00</span>&nbsp;&nbsp;&nbsp;Makan siang<br />
      <span class="text-offset">13:00</span>&nbsp;&nbsp;&nbsp;Lanjut hacking!<br
      />
      <span class="text-offset">16:00</span>&nbsp;&nbsp;&nbsp;Makan ringan &
      santai-santai<br />
      <span class="text-offset">17:00</span>&nbsp;&nbsp;&nbsp;Presentasi<br />
      <span class="text-offset">18:30</span>&nbsp;&nbsp;&nbsp;Bagi-bagi hadiah!<br
      />
      <span class="text-offset">18:45</span>&nbsp;&nbsp;&nbsp;Penutupan &
      foto-foto<br />
    </span>
  </Fragment>
</ContentSection>
