---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Tata Tertib" id="tata-tertib">
  <Fragment slot="lead">
    <span class="text-sm"
      >Semua orang diperbolehkan untuk mengikuti Hackathon Konyol. Yok, daftar!
      Jangan malu! 😽</span
    >
    <br /><br />

    <span class="text-sm"
      >Hal-hal yang bisa/harus kamu lakukan di Hackathon Konyol:</span
    ><br />
    <span class="text-sm">1. Membuat karya-karya kocak dan konyol</span><br />
    <span class="text-sm">2. Bersenang-senang</span><br />
    <span class="text-sm">3. Ketemu temen baru</span><br />
    <br />

    <span class="text-sm"
      >Hal-hal yang tidak boleh kamu lakukan di Hackathon Konyol:</span
    ><br />
    <span class="text-sm">1. Membuat karya-karya yang berbau SARA</span><br />
    <span class="text-sm"
      >2. Menghina, mem-bully, atau melecehkan peserta lain</span
    >
    <br /><br />

    <span class="text-xs"
      >Kami berhak mengeluarkan kamu jika kamu membahayakan orang lain atau
      bertindak seperti orang bodoh. Jika seseorang melakukan kekerasan atau
      membuat kamu merasa tidak nyaman, bicaralah dengan penyelenggara. Intinya
      deh, kita have fun tapi jangan sampai ganggu orang lain ya!</span
    >
    <br /><br />

    <span class="text-xs"
      >Tata tertib ini adalah modifikasi dari
      <a href="https://stupidhackathon.com/cod.html"
        >https://stupidhackathon.com/cod.html</a
      ></span
    >
    <br /><br />

    <span class="text-xs"
      >Untuk panduan lebih lengkap, bisa cek
      <a href="https://s.id/hackathonkonyol-guidebook"
        >Hackathon Konyol Guide Book</a
      ></span
    >
  </Fragment>
</ContentSection>
