---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Oke! Aku mau ikut!" id="daftar">
  <Fragment slot="lead">
    <span class="text-primary"
      >Mantap! Bisa langsung klik link di bawah untuk daftar:</span
    ><br /><br />
    <span class="underline text-4xl">
      <a href="https://s.id/hackathonkonyol">{">> "}DAFTAR GRATIS{" <<"}</a>
    </span>
  </Fragment>
</ContentSection>
