---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ImageCard from "~/components/image-card.astro";

const featuredSponsors = await getCollection(
  "sponsors",
  ({ data }) => "featured" in data,
);
const orderedSponsors = featuredSponsors.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Sponsors" id="sponsors">
  <Fragment slot="lead">
    <span class="text-base"
      >Hackathon Konyol gak akan bisa terlaksana tanpa bantuan dari:</span
    >
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 md:grid-cols-5 lg:grid-cols-5">
      {orderedSponsors.map((sponsor) => <ImageCard content={sponsor} />)}
    </div>
  </div>
</ContentSection>
